*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(train.jpg);
}

.layout{
    width: 100%;
    height: 50px;
    padding: 15px;
    background: black;

    ul{
        display: flex;
        justify-content: end;
        gap: 30px;

        il{
            color: rgb(194, 224, 224);
            font-size: 20px;
            font-family: monospace;
            font-weight: 700;
            /* justify-content: space-between; */
            
        }
    }

}

il:hover{
    background: rgb(248, 77, 10);
}